* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px 0 200px;
}

.stopwatch {
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
  color: #353434;
  border-radius: 2px;
}

.time {
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
}

.btn {
  display: inline;
  text-transform: uppercase;
  border: 0;
  background-color: #3d3a3a;
  color: #ecdddd;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.active {
  background-color: teal;
}

.item {
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
  color: #494343;
  border-radius: 4px;
  list-style: none;
}
